// app global css
@font-face
    font-family PrimeTime
    src url(/statics/fonts/PrimeTime.ttf)

@font-face
  font-family productSansBold,
  src url(/css/fonts/ProductSansBold)

.text-sans
  font-family productSansBold
